.fade-leave-active
.fade-enter-active {
    transition: all .4s ease;
}

.fade-enter-to,
.fade-leave {
    opacity 1
}

.fade-enter,
.fade-leave-to {
    opacity 0
}

.slide-in-down-leave-active
.slide-in-down-enter-active {
    transition: all .4s ease;
}

.slide-in-down-enter-to,
.slide-in-down-leave {
    transform translate(0, 0px)
}

.slide-in-down-enter,
.slide-in-down-leave-to {
    transform translate(0, 251px)
}