@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1574256318553'); /* IE9 */
    src: url('../fonts/iconfont.eot?t=1574256318553#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABrAAAAKRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBHIEgATYCJAMMCwgABCAFhG0HMxvjBcgekiSEECFEoaAKCBi6CKo1rGd374LgkCRJLg+oEheV8qkIByQVGRlh8oDC3eSaZgy210wRksKHPPQ5n5IbgWNhgYQa29YNWDhAhWkPCGTA5fRXQIHMsyyXMQaNtfUxwDiggMbaFFkBYsPYBS7hNIF2o9L47Da09YFghTUpEFciT4HgXFhRWK5VqGtWFvEiQGu6TR7Ac/j7+CUngkmqzJq5d1nPgqqvxK8rv7Fmgz4hAgS4vkLGMqAQ57XpM36Ccf20G/zbS2tFSHPF/htChW6qd/rHS0TNqu4E8zCT+Ep0xQRfV2skkEGdzy4A1hFn8NYQnSMaf3Y5EH1+Xo02F8270PC71/GjwqjVxYGtsGkxGW2OJbEb5Z6pV03x60dLmXK1X7YjDbRLmd1fesFuRuxB56S3zhM9GvPsdgtV/81YrTAoWCwzytmulVUwCmg0n6Uj3QBA/kivP/Iyo0e3CRdRZV+tHQV8fl8chqr+2f9oPY0n+G36MhvxpdHVliMX1dsofaOykR7TEtq1o4H+fo/jTUN6ktCaU4+wtIzOZq2mU7JwllHpsIJaqw20W9K4vsMAzE+UNiyaBgi99pF0e0PWy0sWzgMqw55Q6w0/tDuJuB07zIYYWosRRRALaTcUGU3lHDcJjWp7EG+XKZxVh7wBhE0xBrMzsoq5RqQiPMcc08HnEMJBDmsKbADnIVnWoI41G2JIhkCIXpKZydV9KIPRFBBqB4ZQCIQF0dwgEUOj4vz2RGjp+z0Qnp2MgltYNckBCGYSu4eyZcjqQTYa1F6se3nH5MDLQRAciINpFFADGIbIZBpIrx9mgzCIDMKIpK5Ept2K62vIWN+kfN8OaGcdkCNFjqK6FimZ8hkAAAAAAA==') format('woff2'),
    url('../fonts/iconfont.woff?t=1574256318553') format('woff'),
    url('../fonts/iconfont.ttf?t=1574256318553') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('../fonts/iconfont.svg?t=1574256318553#iconfont') format('svg'); /* iOS 4.1- */
}

[class^=icon-] {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xia:before {
    content: "\e627";
}

.icon-right:before {
    content: "\e6d7";
}
